.hero {
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  padding-top: 100px;
  min-height: 90vh;
  flex-wrap: wrap;

  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .name {
      font-size: 50px;
      letter-spacing: 10px;
      span {
        color: rgb(59, 59, 173);
      }
    }
    .profession {
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 20px;
      }
    }

    .btn {
      padding: 10px 20px;
      width: 100px;
      border-radius: 10px;
      background: inherit;
      border: 1px solid white;
      color: white;

      &:hover {
        color: rgb(59, 59, 173);
      }
    }
  }

  .image {
    flex: 1;
    min-width: 320px;
    max-width: 450px;
    margin-top: -120px;
    z-index: -1;

    .img {
      object-fit: contain;
      border-radius: 30%;
      width: 100%;
      height: 100%;
      box-shadow: 1px 4px 6px 1px rgb(59, 59, 173);
    }
  }

  @media only screen and (max-width: 712px) {
    padding-top: 50px;
    .details {
      .name {
        font-size: 30px;
      }
      .profession {
        h1 {
          font-size: 28px;
        }
      }
    }

    .image {
      .img {
        box-shadow: 0px 6px rgb(59, 59, 173);
      }
    }
  }
}
